<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="testParams">
        <classes>
            <class name="parametersTest">
                <parameter name="name" value="rame"/>
                <parameter name="lastName" value="ramedze"/>
                <parameter name="Gender" value="2"/>
                <parameter name="Number" value="12312312"/>
                <parameter name="Mail" value="reasd@gmail.com"/>
            </class>
        </classes>
    </test>
    <test name="testParams2">
        <classes>

            <class name="parametersTest">
                <parameter name="name" value="rasdadme"/>
                <parameter name="lastName" value="ramsafdsfaedze"/>
                <parameter name="Gender" value="1"/>
                <parameter name="Number" value="12315234512312"/>
                <parameter name="Mail" value="asdqwehjum@gmail.com"/>
            </class>
        </classes>
    </test>
    <test name="testParams3">
        <classes>
            <class name="parametersTest">
                <parameter name="name" value="rsade"/>
                <parameter name="lastName" value="oiwr"/>
                <parameter name="Gender" value="0"/>
                <parameter name="Number" value="31"/>
                <parameter name="Mail" value="dsa@mail.ru"/>
            </class>
        </classes>
    </test>

</suite>

